.action-button {
   background-color: #3040c4;
   width: 160px;
   height: 48px;
   color: #fff;
   font-size: 18px;
   font-weight: 700;
   border-radius: 2px;
   border: none;

   @include for-large-down {
      width: 100%;
   }
}

.hide_desktop {
   @include for-large-up {
      display: none;
   }
}

.hide_mobile {
   @include for-large-down {
      display: none;
   }
}

.icon-arrow_right {
   display: block;
   background-image: url(https://gromcode.s3.eu-central-1.amazonaws.com/front-end/html-css/lesson24/hw1/icon-arrow-right.png);
   width: 7px;
   height: 12px;
}