@import "breakpoints.scss";
@import "variables.scss";
@import "hiring.scss";
@import "feedback";
@import "audience.scss";
@import "communication.scss";
@import "inbox.scss";
@import "order.scss";
@import "common.scss";
@import "about.scss";
@import "customers.scss";
@import "features.scss";
@import "footer.scss";
@import "header.scss";
@import "tips.scss";
@import "headline.scss";

* {
	box-sizing: border-box;
}

html {
	font-size: 16px;
	font-family: "work sans", sans-serif;
	color: #2B292D;
}

.page {
	width: 100%;

	@include for-large-up {
		max-width: 1400px;
		margin: auto;
		min-height: 100vh;
		display: flex;
		flex-direction: column;
	}
}
