$text-color-green: #009b4d;
$text-color-light-grey: #2b292d;
$text-color-link: #3142C6;
$text-color-dark: #2B292D;
$text-color-white: #FFFFFF;
$text-color-dark: #2B292D;
$text-color-blue:  #3142C6;

$color-dark: #2b292d;
$color-dark-blue: #3040c4;
$color-grey: #2C3241;
$color-light-grey: #C4C4C4;
$color-white: #FFFFFF;
$color-light-blue: rgba(0, 161, 198, 0.07);
$color-light-pink: #fcf0e366;

$line-color-blue: #0185D0;

$color-title: #0189D1;
$color-title-red: #F1592B;
$color-blue-dot:  #3142C5;

$section-order-color: #F2F2F2;

$border-color: rgba(43, 41, 45, 0.2);